@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 0.2s linear;
  /* border: 1px solid red; */
}
:root {
  --main_color: #00ff6a;
  --para_col: #c3cdef;
}
html{
  scroll-behavior: smooth;
}
/* 
ul li::marker{
  font-family: 'Sometype Mono', monospace;
} */


body {
  background: linear-gradient(to left, rgb(14, 30, 103), rgb(18, 4, 103));
  margin: 0;
  padding: 0;
  /* height: 100000px; */
  scroll-behavior: smooth;
}
p {
  font-family: "Montserrat", sans-serif;
}

.highilight-g {
  text-decoration: none;
  color: var(--main_color);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  font-weight: 800;
  display: inline-block;
  position: relative;
}
.highilight-g:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--main_color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.highilight-g:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.main-body {
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.content {
  display: flex;
  flex-direction: row;
}
.left {
  width: 40px;
  position: fixed;
  bottom: 0;
  left: 55px;
  right: auto;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hr-line {
  width: 1px;
  height: 100px;
  background-color: var(--main_color);
}
.left .icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 16px;
}

.icons a {
  transition: all 0.4s ease-in-out;
  margin-top: 10px;
}
.icons a:hover {
  margin-bottom: 10px;
  margin-top: 0;
}
.right {
  width: 40px;
  position: fixed;
  bottom: 0;
  right: 65px;
  left: auto;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.right p {
  transform: rotate(0deg);
  transform-origin: left top;
  white-space: nowrap;
  writing-mode: vertical-rl;
  margin-bottom: 20px;
}
.right p a {
  text-decoration: none;
  color: var(--main_color);
  font-size: 15px;
  transition: all 0.5s ease-in-out;
}
.right p a:hover {
  margin-bottom: 30px;
}

.header {
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  z-index: 99999;
  background: linear-gradient(to left, rgb(14, 30, 103), rgb(18, 4, 103));
  margin: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  align-items: center;
  transition: transform 0.5s;
  /* box-shadow: 0 0 20px rgb(8, 8, 123); */
}
.hidden {
  transform: translateY(-100%);
}

.logo {
  width: 70px;
  z-index: 99999;
  height: 70px;
  cursor: pointer;
  background: transparent;
  position: relative;
  text-align: center;
  margin-left: 50px;
  line-height: 100px;
  border: 5px solid var(--main_color);
  border-radius: 20px;
  transform: rotate(45deg);
  animation: from_top 0.5s ease-in;
  box-shadow: 0 0 50px var(--main_color) 92;
}
.logo p {
  font-size: 40px;
  position: absolute;
  top: -32%;
  left: 30%;
  transform: translate(-50%, -50%) rotate(-45deg);
  margin: 0;
  color: var(--main_color);
  transform: rotate(-45deg);
}

.options {
  display: inline-flex;
  flex-direction: row;
  right: 0;
  margin-left: auto;
  margin-right: 50px;
  justify-content: center;
  align-items: center;
  font-family: "Sometype Mono", monospace;
  font-weight: 200;
  animation: from_top 0.5s ease-in;


}
.options ul {
  list-style: decimal-leading-zero;
  display: flex;
  flex-direction: row;
}
.options ul li {
  margin: 0 40px;
  animation: from_top 0.5s ease-in;

}
.options ul li a {
  text-decoration: none;
  color: #b3aab6;
  font-size: 18px;
  font-weight: 400;
  animation: from_top 0.5s ease-in;

}
.options ul li a:hover {
  color: var(--main_color);
}
.options ul li::marker {
  color: var(--main_color);
  font-size: 18px;
}
.resume {
  margin-left: 20px;
  border: 1px solid var(--main_color);
  padding: 15px;
  color: var(--main_color);
  border-radius: 5px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.commonbutton {
  /* margin-left: 20px; */
  border: 1px solid var(--main_color);
  padding: 15px;
  color: var(--main_color);
  border-radius: 5px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.resume:hover,
.commonbutton:hover {
  background-color: #d6f4cf23;
}
.hamburger {
  display: none;
  padding: 5px;
}
.mobile-menu {
  display: none;
}

.intro {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 70vw;
  justify-content: center;
  align-items: start;
  top: 200px;
}
.intro p {
  padding: 0;
  margin: 0;
}
.intro .para-1 {
  color: var(--main_color) !important;
  font-size: 18px;
  font-family: "Sometype Mono", monospace;
  margin-bottom: 10px;
  width: 100%;
  margin-left: 5px;
}
.intro .para-2 {
  font-weight: 1000;
  color: #ccd6f6;
  margin-top: 0;
  width: 70vw;
  font-size: clamp(32px, 4.5vw, 50px);
  font-family: "Fira Mono", monospace;
}
.intro .para-3 {
  color: var(--para_col);
  font-weight: 600;
  font-family: "Fira Mono", monospace;
  font-size: clamp(32px, 4.5vw, 50px);
  white-space: normal;
  margin: 10px 0;
  word-wrap: break-word;
  width: 100%;
  line-height: 0.9;
}

.intro .para-4 {
  width: 100%;
  display: block;
  white-space: normal;
  /* padding: 10px; */
  margin: 10px 0;
  text-align: start;
  word-wrap: break-word;
}
.para-4 p {
  color: var(--para_col);
  max-width: 540px;
}

.linkdin-btn {
  margin-top: 10px;
  display: block;
}
.linkdin-btn a {
  text-decoration: none;
  color: var(--main_color);
}

.menu-items-expn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 70vw;
  position: relative;
  top: 60vh;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content ul {
  list-style: decimal-leading-zero;
  margin-left: 100px;
  max-width: 70vw;
}
.content ul li::marker {
  font-size: 25px;
  color: var(--main_color);
  font-family: "Sometype Mono", monospace;
  font-weight: 400;
}
.content ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about {
  max-width: 70vw;
  /* margin-top: 200px; */
}
.mie-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 40px 0;
}
.mie-title hr {
  color: var(--para_col);
}
.mie-title h2 {
  font-size: 35px;
  font-family: "Sometype Mono", monospace;
  color: #ccd6f6;
}

.mie-title-content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.mietc-text-area {
  width: 65%;
}
.mietc-text-area p{
  color: var(--para_col);
}
.mietc-text-area .p_ {
  margin: 30px 0;
}

.mietc-image {
  width: 35%;
}

.li-items{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.li-item-2{
  margin-left: 20vw;
  display: flex;
  flex-direction: column;
}
.text-g{
  color: var(--main_color);
}

.mietc-image{
  border-bottom: 2px solid var(--main_color);
  border-right: 2px solid var(--main_color);
  padding: 0;
  margin: 0;
  margin-left: 20px;
  padding-bottom: 20px;
  cursor: pointer;
  height: 280px;
  width: 240px;
  border-radius: 10px;
  transition: all 0.1s ease-in-out;
}
.mietc-image:hover{
  width: 250px;
  height: 290px;
  box-shadow: 0 0 30px rgb(77, 77, 254);
}
.image-container{
  position: relative;
  width: 240px;
  background-color: rgba(63, 63, 242, 0.437);
  /* padding: 10px; */
  border-radius: 10px;
}
.image-container img{
  width: 230px;
  opacity: 40%;
  border-radius: 10px;
  height: auto;
}
.image-container img:hover{
  opacity: 1;
}

#work{
  margin: auto;
  /* margin-top: 300px; */
  display: flex;
  justify-content: center;
}
.work{
  max-width: 700px;
  align-items: center;
  margin-top: 100px;
}

.p_p{
  margin: 20px 0;
  color: #ccd6f6;
}

.contact-btn{
  width: fit-content;
}
.contact-btn a{
  text-decoration: none;
  color: var(--main_color);
  font-size: 20px;
}

.contact{
  width: 80vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact{
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 150px;
}
#contact li::marker{
  font-size: 18px;
}
#contact li{
  margin-left: 30px;
}
 .p__ {
  font-size: 18px;
  font-family: "Sometype Mono", monospace;
  margin-bottom: 10px;
  color: var(--main_color) !important;
}

.mie-title-con{
  align-items: center;
}

.mie-title-con h2{
  color: #ccd6f6;
  font-size: 35px;
  font-family: "Sometype Mono", monospace;
  
}
.mie-title-con-text-area{
  width: 80%;
  text-align: center;
  color: var(--para_col);
  font-size: 15px;
  margin-bottom: 50px;
  margin-top: 30px;
}

.attribute{
display: flex;
flex-direction: column;
width: 350px;
align-items: center;
}

.con-icons a{
  margin-left: 20px;
}
.con-icons{
  display: none;
  margin-bottom: 20px;
}
.con-icons .icons a img:hover{
  margin-bottom: 5px;
  /* width: 35px; */
  /* height: auto; */
}


.attribute .ln-1{
  color: var(--para_col);
  text-align: center;
  margin-bottom: 15px;
}
.attribute .ln-2{
  color: var(--para_col);
  margin-bottom: 30px;
  text-align: center;
}

.back-to-top{
  position: fixed;
  right: 20px;
  cursor: pointer;
  left: auto;
  bottom: 30px;
  border: 1px solid rgba(0, 255, 42, 0.375);
  border-radius: 10%;
  padding: 10px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  background-color: #00ff6a77;
  /* box-shadow: 0 0 5px var(--main_color); */
  transition: all 0.5s;
}
.back-to-top:hover{
  background-color: var(--main_color);
  color: white;
  box-shadow: rgb(105, 105, 237);
}











@keyframes from_top{
  0%{
    top: -200px;
  }
  100%{
    top: 0;
  }
}
@keyframes from_bottom{
  0%{
    bottom:-100px;
  }
  100%{
    bottom: 0;
  }
}













/* small Screen CSS */

@media (max-width: 950px) {
  .options {
    display: none;
  }
  .logo {
    margin-left: 30px;
  }
  .resume {
    margin-left: -20px;
    font-size: 30px;
  }

  .hamburger {
    align-items: center;
    display: flex;
    z-index: 99;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    position: relative;
    right: 0;
    margin-left: auto;
    margin-right: 30px;
    align-items: end;
    background-color: rgba(0, 0, 0, 0);
  }
  .bar {
    display: block;
    height: 4px;
    text-align: end;
    border-radius: 2px;
    background-color: var(--main_color);
    margin: 7px 0;
    transition: all 0.3s ease-in-out;
  }
  .close {
    animation: close-hamburger 0.2s linear forwards;
  }
  @keyframes close-hamburger {
    0% {
      margin: 7px 0;
      opacity: 1;
    }
    90% {
      margin: 0 0;
      opacity: 0;
    }
    100% {
      margin: 7px 0;
      opacity: 1;
    }
  }
  .bar-1 {
    width: 60px;
    top: 0;
  }
  .bar-2 {
    width: 50px;
    top: 15;
  }
  .bar-3 {
    width: 30px;
    top: 30;
  }

  .bar-open {
    position: absolute;
    width: 40px;
    height: 5px;
    transform-origin: center;
    animation: close-hamb 0.2s linear;
    transition: all 0.2s ease-in;
  }
  @keyframes close-hamb {
    0%{
    margin: 7px 0;
    }
    100%{
      margin: 0 0;
    }
  }

  .bar-1-open {
    transform: rotate(45deg);
    top: 17%;
    height: 4px;
    width: 50px;
  }
  .bar-3-open {
    opacity: 0;
  }

  .bar-2-open {
    transform: rotate(-45deg);
    width: 50px;
    height: 4px;
    top: 1px;
    left: -50px;
  }

  @keyframes fadeIn {
    from {
      transform: scale(0);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }

  .mobile-menu-container {
    display: flex;
    flex-direction: row;
  }
  .empty-sp-cont {
    width: 30vw;
    display: none;
    height: 1000px;
    position: fixed;
    left: 0;
    top: 0;
    filter: blur(100%);
    animation: slideLeft 0.8s ease-in-out;
    background-color: rgba(59, 59, 83, 0.536);
    /* box-shadow: 0 0 10vw 10vw rgba(157, 207, 252, 0.658); */
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    background: linear-gradient(to right, rgb(82, 17, 247), rgb(87, 62, 247));
    padding: 80px 30px;
    width: 70%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    animation: slideRight 0.2s ease-in-out;
    display: none;
    opacity: 0;
    visibility: hidden;
    /* box-shadow: 0 0 10vw 0 rgba(157, 208, 252, 0.519); */
  }
  .show-menu {
    display: flex;
    right: 0;
    opacity: 1;
    visibility: visible;
  }
  @keyframes slideRight {
    0% {
      right: -500px;
    }
    100% {
      opacity: 1;
      right: 0;
    }
  }
  @keyframes slideLeftout {
    0%{right: 0;
    opacity: 0;}
    100%{right: -500px;}
    
  }
  @keyframes slideLeft {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .mobile-menu ul {
    list-style: decimal-leading-zero;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  .mobile-menu ul li {
    margin-bottom: 20px;
  }
  .mobile-menu ul li::marker {
    color: var(--main_color);
    font-size: 20px;
  }
  .mobile-menu ul li a {
    text-decoration: none;
    color: #b3aab6;
    font-size: 20px;
  }
  .mobile-menu ul li a:hover {
    color: var(--main_color);
  }
  .right {
    display: none;
  }
  .left {
    display: none;
  }
  .con-icons{
    display: flex;
  }
  .intro {
    left: 0;
  }
  .mie-title h2, .mie-title-con h2{
    font-size: 25px;
    margin-right: 0;
  }
  .mietc-text-area{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mie-title hr{
    width: 100px !important;
    margin-left: 10px !important;
  }
  .mie-title-content{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .content ul{
    margin-left: 0px;
    align-items: center;
  }
  .content ul li{
    display: block;
  }
  .content{
    max-width: 90vw;
  }
  .p__{
    font-size: 15px;
  }
  #contact li::marker{
    font-size: 15px;
  }
  .contact{
    max-width: 100vw;
  }

}
